.nav {
    display: flex;
    position: fixed;
    top: 0;
    height: 75px;
    width: 100%;
    padding: 20px;
    z-index: 1;
    background-color: #fff;
}
.nav__logo { 
    object-fit: contain;
    display: flex;
    margin-left: 20px;
    margin-top: -15px;
    padding: 20px;
    height: 150px;
    width: 100%;
    background-image: url('./SIL-logo.png');
    background-repeat: no-repeat;
}

.sign-in {
    position: fixed;
    display: flex;
    right: 20px;
}